<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="address" class="com.harika.Pojo.Address">
		<property name="houseNo" value="100"></property>
		<property name="streetNo" value="5"></property>
		<property name="city" value="Missouri"></property>
	</bean>
	
	<bean id="student" class="com.harika.Pojo.Student">
		<property name="sno" value="1"></property>
		<property name="name" value="Harika"></property>
		<property name="addr" ref="address"></property>
	</bean>

</beans>
